[{:itonami.blueprint/social-impact [:tax-compliance-transparency :public-revenue-integrity :administrative-efficiency], :itonami.blueprint/domain :government/tax-excise-documentation, :itonami.blueprint/required-technologies [:robotics :identity :audit-ledger], :itonami.blueprint/isco-08 "3352", :itonami.blueprint/name "Government Tax and Excise Officials Documentation & Logistics Coordination", :itonami.blueprint/governor :tax-excise-governor, :itonami.blueprint/robotics true, :db/id -1, :itonami.blueprint/status :public-oss, :itonami.blueprint/id "cloud-itonami-isco-3352", :itonami.blueprint/license "AGPL-3.0-or-later"}]
